Repository dx-tooling/platform-problem-monitoring-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, mypy, bandit

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-json
    -   id: check-toml
    -   id: detect-private-key

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: make format-check-files
        language: system
        types: [python]
        pass_filenames: true

    -   id: isort
        name: isort
        entry: make isort-check-files
        language: system
        types: [python]
        pass_filenames: true

    -   id: ruff
        name: ruff
        entry: make lint-files
        language: system
        types: [python]
        pass_filenames: true

    -   id: mypy
        name: mypy
        entry: make type-check-files
        language: system
        types: [python]
        pass_filenames: true

    -   id: bandit
        name: bandit
        entry: make security-check-files
        language: system
        types: [python]
        exclude: ^src/tests/
        pass_filenames: true

Another test case
  src/tests/fixtures/extracted_fields.jsonl
  src/tests/test_step5_normalize_messages.py
Due: black, isort, ruff, mypy

Another test case
  src/tests/fixtures/comparison_results.json
  src/tests/fixtures/current_date_time.txt
  src/tests/fixtures/current_normalization_results.json
  src/tests/test_step6_compare_normalizations.py
Due: black, isort, ruff, mypy

Another test case
  src/tests/test_step7_generate_email_bodies.py
Due: black, isort, ruff, mypy

Added missing fixture
  .gitignore
  src/tests/fixtures/lucene_query.json
Due: none

README: Tests and Code Quality badges
  README.md
Due: none

Feature: Trend Chart
  docs/NOTES.md
  docs/REQUIREMENTS.md
  pyproject.toml
  run.sh
  src/platform_problem_monitoring_core/resources/html_email_template.html
  src/platform_problem_monitoring_core/step10_send_email_report.py
  src/platform_problem_monitoring_core/step11_store_new_state.py
  src/platform_problem_monitoring_core/step12_cleanup.py
  src/platform_problem_monitoring_core/step3_retrieve_hourly_problem_numbers.py
  src/platform_problem_monitoring_core/step4_generate_trend_chart.py
  src/platform_problem_monitoring_core/step5_download_logstash_documents.py
  src/platform_problem_monitoring_core/step6_extract_fields.py
  src/platform_problem_monitoring_core/step7_normalize_messages.py
  src/platform_problem_monitoring_core/step8_compare_normalizations.py
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
  src/tests/test_step6_extract_fields.py
  src/tests/test_step7_normalize_messages.py
  src/tests/test_step8_compare_normalizations.py
  src/tests/test_step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

Feature: Trend Chart
  src/platform_problem_monitoring_core/step4_generate_trend_chart.py
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

Feature: Trend Chart
  conf/platform_problem_monitoring_core.conf.dist
  run.sh
  src/platform_problem_monitoring_core/resources/html_email_template.html
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

Fix for: "550-Line length in message or single header exceeds 8192" from some SMTP servers
  src/platform_problem_monitoring_core/resources/html_email_template.html
  src/platform_problem_monitoring_core/step7_generate_email_bodies.py
  src/platform_problem_monitoring_core/step8_send_email_report.py
Due: black, isort, ruff, mypy, bandit

README Fix
  README.md
Due: none

Naming Fixes
  src/tests/test_step6_extract_fields.py
  src/tests/test_step7_normalize_messages.py
  src/tests/test_step8_compare_normalizations.py
  src/tests/test_step9_generate_email_bodies.py
Due: black, isort, ruff, mypy

Test fixes
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
  src/tests/test_step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

HTML mail: look & feel
  src/platform_problem_monitoring_core/resources/html_email_template.html
  src/platform_problem_monitoring_core/step4_generate_trend_chart.py
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

Fix for: "550-Line length in message or single header exceeds 8192" from some SMTP servers
  src/platform_problem_monitoring_core/step10_send_email_report.py
Due: black, isort, ruff, mypy, bandit

HTML mail: look & feel
  README.md
  assets/readme-hero-image.png
Due: none

README
  README.md
Due: none

Test fixes
  src/tests/test_step9_generate_email_bodies.py
Due: black, isort, ruff, mypy

Added "make update-deps"; "make clean" removed venv, too
  Makefile
Due: none

Going from Python 3.8 -> Python 3.9 as the minimum
  .github/workflows/code-quality.yml
  .github/workflows/tests.yml
  pyproject.toml
  src/tests/test_step6_extract_fields.py
  src/tests/test_step7_normalize_messages.py
  src/tests/test_step8_compare_normalizations.py
Due: black, isort, ruff, mypy

Going from Python 3.8 -> Python 3.9 as the minimum
  README.md
  docs/REQUIREMENTS.md
  pyproject.toml
Due: none

Going from Python 3.9 -> Python 3.10 as the minimum
  .github/workflows/code-quality.yml
  .github/workflows/tests.yml
  README.md
  docs/REQUIREMENTS.md
  pyproject.toml
  src/platform_problem_monitoring_core/step4_generate_trend_chart.py
Due: black, isort, ruff, mypy, bandit

LICENSE
  LICENSE.txt
  README.md
Due: none

Another fix for: "550-Line length in message or single header exceeds 8192" from some SMTP servers
  src/platform_problem_monitoring_core/resources/html_email_template.html
  src/platform_problem_monitoring_core/step10_send_email_report.py
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

Release setup
  .github/workflows/release.yml
  Makefile
  docs/RELEASE_MANAGEMENT.md
Due: none

Bump version: 0.1.1
  pyproject.toml
Due: none

Releases via Github actions: added write permission
  .github/workflows/release.yml
Due: none

Bump version: 0.1.2
  pyproject.toml
Due: none

Include the HTML email template in the wheel; bump version: 0.1.3
  .github/workflows/release.yml
  docs/RELEASE_MANAGEMENT.md
  pyproject.toml
  src/platform_problem_monitoring_core/step9_generate_email_bodies.py
Due: black, isort, ruff, mypy, bandit

run.sh now part of the package; bump version: 0.1.4
  .github/workflows/release.yml
  docs/RELEASE_MANAGEMENT.md
  pyproject.toml
  src/platform_problem_monitoring_core/bin/run.sh
Due: none

Better project and target structure; bump version: 0.1.5
  .github/workflows/release.yml
  .gitignore
  README.md
  bin/ppmc
  docs/NOTES.md
  docs/RELEASE_MANAGEMENT.md
  docs/REQUIREMENTS.md
  etc/lucene_query.json.dist
  etc/main.conf.dist
  pyproject.toml
Due: none

Better project and target structure; bump version: 0.1.6
  bin/ppmc
  pyproject.toml
Due: none

Better project and target structure; bump version: 0.1.7
  bin/ppmc
  pyproject.toml
Due: none

Documentation cleanups
  README.md
  docs/DEVELOPMENT.md
Due: none

Notes, Sample Report screenhot
  README.md
  assets/readme-hero-image.png
  docs/NOTES.md
  sample-trend-and-report-input-data/comparison_results.json
  sample-trend-and-report-input-data/email_body.html
  sample-trend-and-report-input-data/email_body.txt
  sample-trend-and-report-input-data/hourly_problem_numbers.json
  sample-trend-and-report-input-data/lucene_query.json
  sample-trend-and-report-input-data/norm_results.json
  sample-trend-and-report-input-data/norm_results_prev.json
  sample-trend-and-report-input-data/start_date_time.txt
  sample-trend-and-report-input-data/trend_chart.png
Due: none

README hero image
  assets/readme-hero-image.png
Due: none

Moved sample data assets
  assets/sample-trend-and-report-input-data/comparison_results.json
  assets/sample-trend-and-report-input-data/email_body.html
  assets/sample-trend-and-report-input-data/email_body.txt
  assets/sample-trend-and-report-input-data/hourly_problem_numbers.json
  assets/sample-trend-and-report-input-data/lucene_query.json
  assets/sample-trend-and-report-input-data/norm_results.json
  assets/sample-trend-and-report-input-data/norm_results_prev.json
  assets/sample-trend-and-report-input-data/start_date_time.txt
  assets/sample-trend-and-report-input-data/trend_chart.png
Due: none

Fix for: Only zero values in "increased problem patterns" section
  src/platform_problem_monitoring_core/step8_compare_normalizations.py
  src/tests/test_step8_compare_normalizations.py
Due: black, isort, ruff, mypy, bandit

Bump version: 0.1.9
  pyproject.toml
Due: none
